
$mobile: 768px;

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
}

.BlogsOverlayWrapper {
  position: relative;
  width: 100%;
}

.BlogsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  @media screen and (max-width: $mobile) {
    gap: 1rem;
  }
}

.Overlay {
  position: absolute;
  top: -4%;
  left: 5%;
  width: 90%;
  height: 108%;
  background-color: rgba(0, 0, 0, 0.5); // semi-transparent dark background
  border-radius: 16px;  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  span {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem;
    border-radius: 8px;
  }
}
