.calcWindow{
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    
}
.leftSection{
    width: 50%;
    padding-left: 5%;
    background-color: rgb(150, 130, 130);
    .firstBlock{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-left: 3px dashed black;
        padding-left: 2%;
        .InputDropdownBox{
            display: flex;
        }
    }

    .secondBlock{
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        .secondBlockInnerDiv{
            display: flex;
            gap: 1rem;
        }
        .InputDropdownBox{
            display: flex;
        }
    }
}
