$mobile: 768px;
/* Extra small devices (portrait phones) */
@media (max-width: 575.98px) {
  /* styles */
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles */
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* styles */
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* styles */
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* styles */
}

/* Extra extra large devices (larger desktops) */
@media (min-width: 1400px) {
  /* styles */
}

//heroBanner
.Container {
  padding: 100px;

  @media (max-width: $mobile) {
    padding: 30px;
  }
}
#HeroBanner {
  img {
    width: 100%;
  }
}

//outstory
.HalfHalfSection {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50% / 50% split */
  gap: 5rem;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 1rem;
    // margin-top: 50px;
    // margin-bottom: 50px;
  }

  .propDivFirst {
    background-image: url(/public/assets/AboutPage/FirstSectionPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    @media (max-width: $mobile) {
      background-image: url(../../../public//assets//AboutPage/mobView/FirstSectionPic.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
    }
  }

  .sectionDesc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .KTAHeading {
    leading-trim: both;
    text-edge: cap;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 125.025%; /* 50.01px */
    text-transform: uppercase;
    background: linear-gradient(94deg, #e31e24 3.43%, #262065 45.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: $mobile) {
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 125.025%; /* 30.006px */
      letter-spacing: 4.08px;
      text-transform: uppercase;
      background: linear-gradient(94deg, #e31e24 3.43%, #262065 45.67%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (min-width: 1400px) {
      font-size: 3rem;
    }
  }
  .OurStoryHeading {
    color: #222;
    leading-trim: both;
    text-edge: cap;
    font-family: Manrope;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 125.025%; /* 70.014px */
    @media (max-width: $mobile) {
      color: #222;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Manrope;
      font-size: 30.144px;
      font-style: normal;
      font-weight: 300;
      line-height: 125.025%; /* 37.688px */
    }

    @media (min-width: 1400px) {
      font-size: 4rem;
    }
  }

  .OurStoryDesc {
    color: #222;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: $mobile) {
      color: #000;
      text-align: justify;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    @media (min-width: 1400px) {
      font-size: 1.5rem;
    }
  }

  //second section

  .OurMissionBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .OurMissionSmallBlock {
    width: 50%;

    @media (min-width: 1400px) {
      width: 70%;
    }
  }
  .OurMissionHeading {
    color: #000;
    font-family: Manrope;
    font-size: 35.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    img {
      margin-bottom: 2%;
      @media (max-width: $mobile) {
        margin-bottom: 0px;
        transform: scale(0.8);
      }
    }

    @media (min-width: 1400px) {
      font-size: 3.5rem;
    }
  }

  .OurMissionDesc {
    color: #000;
    font-family: Poppins;
    font-size: 15.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 1400px) {
      font-size: 1.5rem;
    }
  }
  .propDivSecond {
    // justify-content: left;
    // align-items: center;
    // display: flex;
    // background-size: cover;

    background-image: url(/public/assets/AboutPage/SecondSectionPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 500px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  //third section

  .OurVisionBlock {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .OurVisionSmallBlock {
    width: 50%;

    @media (min-width: 1400px) {
      width: 70%;
    }
  }
  .OurVisionHeading {
    color: #000;
    font-family: Manrope;
    font-size: 35.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    img {
      margin-bottom: 2%;
      @media (max-width: $mobile) {
        margin-bottom: 0px;
        transform: scale(0.8);
      }

      @media (min-width: 1400px) {
        font-size: 3.5rem;
      }
    }

    @media (min-width: 1400px) {
      font-size: 3.5rem;
    }
  }

  .OurVisionDesc {
    color: #000;
    font-family: Poppins;
    font-size: 15.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 1400px) {
      font-size: 1.5rem;
    }
  }

  .propDivThird {
    // justify-content: right;
    // align-items: center;
    // display: flex;

    background-image: url(/public/assets/AboutPage/ThirdSectionPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 500px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.ValuesSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 100px;

  @media (max-width: $mobile) {
    gap: 1rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .propDivForth {
    background-image: url(/public/assets/AboutPage/ForthSectionPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 500px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .HeadingSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .Heading {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 43.784px;
      background: linear-gradient(104deg, #e31e24 30.28%, #262065 56.6%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 43.784px;

      @media (min-width: 1400px) {
        font-size: 4rem;
      }
      @media (max-width: $mobile) {
        background: linear-gradient(104deg, #000000 30.28%, #000000 56.6%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px; /* 133.333% */
      }
      .spanHeading {
        @media (max-width: $mobile) {
          background: linear-gradient(107deg, #e31e24 56.72%, #262065 122.39%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: Manrope;
          font-size: 24px;
          font-style: normal;
          font-weight: 800;
          line-height: 32px;
        }
      }
    }

    .Desc {
      color: #3e3e3e;
      text-align: center;
      font-family: Poppins;
      font-size: 14.4px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 1400px) {
        font-size: 1.5rem;
      }
      @media (max-width: $mobile) {
        color: #3e3e3e;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-inline: 5%;
      }
    }
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    @media (min-width: 1400px) {
      max-width: 500px;
      gap: 1rem;
    }
    .gridItem {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5.945px;
      flex-shrink: 0;

      img {
        width: 46.98px;
        height: 46.98px;
        aspect-ratio: 46.98/46.98;

        @media (min-width: 1400px) {
          width: 90px;
          height: 90px;
          aspect-ratio: 46.98/46.98;
        }
      }
      @media (max-width: $mobile) {
        display: flex;
        width: 162.318px;
        height: 183.96px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.289px;
        border-radius: 14px;
        border: 0.361px solid #e31e2513;
        background: #f6f6f6;
        box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.075);
      }

      .Heading {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @media (min-width: 1400px) {
          font-size: 1.5rem;
        }
        @media (max-width: $mobile) {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .Desc {
        color: #3e3e3e;
        text-align: center;
        font-family: Poppins;
        font-size: 10.899px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (min-width: 1400px) {
          font-size: 1rem;
        }
        @media (max-width: $mobile) {
          color: #3e3e3e;
          text-align: center;
          font-family: Poppins;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 90%;
        }
      }
    }
  }
}

.Vision {
  padding-bottom: 100px;
  @media (max-width: $mobile) {
    display: none;
  }
}
.Mission {
  padding-bottom: 100px;
  @media (max-width: $mobile) {
    display: none;
  }
}

.MissionVisionMob {
  display: none;
  @media (max-width: $mobile) {
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Heading {
    color: #fff;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .Desc {
    color: #fff;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .VisionMob {
    background-image: url(/public/assets/AboutPage//mobView/VisinoBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 90%;
    margin-bottom: 10% !important;
    margin: 5%;
    padding: 10%;
    gap: 1rem;
    border-radius: 10px;
  }
  .MissionMob {
    background-image: url(/public/assets/AboutPage//mobView/MissionBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 90%;
    margin-top: 10% !important;
    margin-bottom: 0 !important;
    margin: 5%;
    padding: 10%;
    gap: 1rem;
    border-radius: 10px;
  }
}
