$mobile: 786px;
.HeadingClass {
  text-align: center;
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 125.025%; /* 295.737px */
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile) {
    color: #000;
    font-size: 24px;
    line-height: 30.65px; /* 127.708% */
    
  }

  p {
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 125.025%;
    background: var(--brand, linear-gradient(101deg, #e31e24 40.47%, #262065 92.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $mobile) {
      font-size: 12px;
      line-height: normal;
      text-transform: uppercase;
    margin-bottom: 0px;

    }
  }
}
