.Testimonials {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 0;
  margin-top: 100px;
  gap: 100px;
  margin-bottom: 100px;

  @media (max-width: 786px) {
    margin-bottom: 50px;
    gap: 50px;
  }
}

.HeadingSection {
  width: 390px !important;
  align-self: center;
}

.TestiCardsWrapper {
  display: flex;
  align-items: center; /* Vertically center buttons with the cards */
  justify-content: center;
  position: relative; /* Required for absolute positioning of buttons */
  width: 100%;
  fill: #fff;
  stroke-width: 1px;
  stroke: #ededed;
  filter: drop-shadow(0px 1.852px 3.148px rgba(49, 49, 49, 0.02))
    drop-shadow(0px 8.148px 6.519px rgba(49, 49, 49, 0.04));
}

.TestiCards {
  width: 100vw;
  overflow-x: auto; /* Allows horizontal scrolling */
  padding: 0 40px;
  display: flex;
  gap: 30px;

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

/* Scroll button styles */
.ScrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #00000054;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  
  img {
    width: 40px;
    height: 40px;
    transform: scale(0.5);
  }

  &.Left {
    left: 10px;
  }

  &.Right {
    right: 10px;
  }

  /* Hide scroll buttons on mobile */
  @media (max-width: 786px) {
    display: none;
  }
}
