

.GradientButton {
  position: relative;
  display: inline-flex;
  padding: 11.945px 23.89px;
  justify-content: center;
  align-items: center;
  border-radius: 91.52px;
  border: 1px solid #0C0C0C;
  background: transparent;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
  display: flex;
  border-radius: 432.968px;
  cursor: pointer;
  width: fit-content;

}



.GradientButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--brand, linear-gradient(100deg, #E31E24 7.47%, #262065 92.53%));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-radius: 91.52px;

}

.GradientButton:hover::before {
  opacity: 1;
  border:none;
  
}

.GradientButton:hover {
  color: white;
  border:1px solid transparent;

}


