$mobile: 768px;

.FooterSection {
  height: 369px;
  padding: 87px 98px;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    padding: 87px 50px;
    gap: 72px;
    // padding-bottom: 87px;
    height: auto;
  }
  .LeftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: $mobile) {
      align-items: center;
    }
    .Logo {
      width: 127px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .Copyright {
      width: 300px;
      color: #000;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%; /* 24.454px */
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
  }

  .RightSection {
    flex: 2;
    display: flex;
    justify-content: space-around;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      gap: 50px;
      justify-content: space-between;
    }

    .List {
      display: flex;
      flex-direction: column;

      span {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 249%;
        cursor: pointer;
        &:hover {
          color: grey;
          text-decoration: underline;
        }
      }
    }

    .ContactUs {
      display: flex;
      flex-direction: column;
      width: 210px;
      gap: 15px;
      span {
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        p {
          width: 185px;
        }
      }
    }
  }
}
.Title {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 800 !important;
  line-height: normal;
  margin-bottom: 12px !important;
  text-decoration: none !important;
  cursor: default !important;
  &:hover {
    color: black !important;
  }
}

.RightTopSection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  top: -12%;
  right: 10%;

  .facebookIcon {
    cursor: pointer;
    position: relative;
    height: 68px;
    width: 68px;
    background-image: url('/assets/LandingPage/FooterPlatformIcon/PlatFacebook.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ensure the image maintains its aspect ratio */
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(153, 3, 3, 0.336);
    border-radius: 50%;
    @media (max-width: $mobile) {
      border: 1px solid rgba(13, 9, 231, 0.253);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/assets/LandingPage/FooterPlatformIcon/PlatFacebookHover.png');
      background-repeat: no-repeat;
      background-size: contain; /* Match the original size */
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
  //whatsapp

  .whatsappIcon {
    cursor: pointer;
    position: relative;
    height: 68px;
    width: 68px;
    background-image: url('/assets/LandingPage/FooterPlatformIcon/PlatWhatsapp.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ensure the image maintains its aspect ratio */
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(153, 3, 3, 0.336);
    border-radius: 50%;
    @media (max-width: $mobile) {
      border: 1px solid rgba(9, 231, 39, 0.253);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("/public/assets/LandingPage/FooterPlatformIcon/PlatWhatsappHover.png");
      background-repeat: no-repeat;
      background-size: contain; /* Match the original size */
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
  //insta

  .instagramIcon {
    cursor: pointer;
    position: relative;
    height: 68px;
    width: 68px;
    background-image: url('/assets/LandingPage/FooterPlatformIcon/PlatInstagram.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ensure the image maintains its aspect ratio */
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(153, 3, 3, 0.336);
    border-radius: 50%;
    @media (max-width: $mobile) {
      border: 1px solid rgba(213, 9, 231, 0.253);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/assets/LandingPage/FooterPlatformIcon/PlatInstagramHover.png');
      background-repeat: no-repeat;
      background-size: contain; /* Match the original size */
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  @media (max-width: $mobile) {
    top: 0%;
    right: auto;
    transform: scale(0.8);
  }
}
