#showDesk {
  .slider-container {
    width: 80%;
    margin: 0 auto; /* Centers the slider */
    overflow: hidden;
  }
  /* Making the Track Use the Full Width */
  .slick-track {
    display: flex !important;
    justify-content: center !important;
  }

  /* Center the Cards */
  .slick-slide {
    display: flex !important;
    justify-content: center !important;
  }
  .slick-slider {
    width: 100%; /* Ensures the slider fills the container */
  }
  .slick-prev {
    right: -2rem !important;
    z-index: 999;
    height: 50vh !important;
    width: 10% !important;
  }

  .slick-next {
    right: -2rem !important;
    z-index: 999;
    height: 50vh !important;
    width: 10% !important;
  }

  /* Replace Default Arrows with Unicode Characters */
  .slick-prev::before {
    content: "\276E" !important; /* Left arrow Unicode */
    font-size: 2rem !important;
    color: black !important; /* Adjust arrow color */
    position: absolute;
    right: 60%;
    top: 40%;
  }

  .slick-next::before {
    content: "\276F" !important; /* Right arrow Unicode */
    font-size: 2rem !important;
    color: black !important; /* Adjust arrow color */
    position: absolute;
    right: 30%;
    top: 40%;
  }
}

.showcaseButton {
  .outline-button {
    color: black !important;
    border: 1px solid black !important;
    font-size: 1rem;
    &:hover {
      border: 1px solid transparent !important;
      color: white !important;
    }
  }
}
