#heroDesk {
  display: block;
  @media (max-width: 786px) {
    display: none;
  }
  .slick-arrow {
    display: none !important;
  }

  .heroBannerFirst {
    background-image: url(/assets/LandingPage/HeroSection/HeroOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 765px;
    background-position-y: bottom;
  }
  .heroBannerFirstBlock {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: left;
    padding-top: 13%;
    padding-left: 7%;
  }
  .heroBannerFirstHeading {
    color: #fff;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 125.025%; /* 62.512px */
    text-transform: capitalize;
  }
  .heroBannerFirstDetails {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .outline-button {
    width: fit-content;
  }

  /* // */

  .heroBannerSecond {
    background-image: url(/assets/LandingPage/HeroSection/HeroTwo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 765px;
    background-position-y: bottom;
  }
  .heroBannerSecondBlock {
    /* height: 765px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: left;
    padding-top: 13%;
    padding-left: 7%;
  }

  .heroBannerSecondHeading {
    color: #fff;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 125.025%; /* 62.512px */
    text-transform: capitalize;
  }
  .heroBannerSecondDetails {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (max-width: 786px) {
    .heroBannerFirst {
      background-size: contain !important;
      height: 250px !important;
    }
    .heroBannerFirstBlock {
      padding-top: 5% !important;
      padding-left: 5% !important;
      gap: 1rem !important;
    }
    .heroBannerFirstHeading {
      font-size: 16px !important;
    }
    .heroBannerFirstDetails {
      font-size: 10px !important;
    }

    /* //second */
    .heroBannerSecond {
      background-size: contain !important;
      height: 250px !important;
    }
    .heroBannerSecondBlock {
      padding-top: 5% !important;
      padding-left: 5% !important;
      gap: 1rem !important;
    }
    .heroBannerSecondHeading {
      font-size: 16px !important;
    }
    .heroBannerSecondDetails {
      font-size: 10px !important;
    }
  }
}

.heroSectionMob {
  display: none;
  @media (max-width: 786px) {
    display: block;
  }

  .CoverImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .CoverImg img {
    width: 90%;
    height: 224px;
    border-radius: 8px;
  }
  .heroTextBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* background-image: url(../../../../public/assets/LandingPage/HeroSection/HeroOne.png); */
    background-size: cover;
    height: 285px;
  }
  .heroHeading {
    text-align: center;
    width: 80%;
  }
  .heroHeading p {
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125.025%; /* 30.006px */
    /* color: white; */
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .heroHeading span {
    background: linear-gradient(128deg, #e31e24 15.67%, #262065 53.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heroDetails {
    /* color: white; */
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .outline-button {
    color: black;
    border: 1px solid black;
    font-size: 1rem;

    &:hover{
      border: 1px solid transparent !important;
    }
  }
}
