$mobile: 768px;

.termsPage, .policyPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;
    font-family: Poppins;

    .heading {
        font-size: 2.5rem;
        font-weight: bold;

        .KtaHeading {
            background: linear-gradient(172deg, #e31e24 30.04%, #262065 90.09%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;

        }

        @media (max-width: $mobile) {
        font-size:1.5rem;
    }
}

.KtaDesc {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
           @media (max-width: $mobile) {
            font-size:1rem ;
           }
}
}